<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <div class="error404">
        <div class="error404__container">
            <img src="/src/assets/imgs/404 Page Not Found _Isometric.svg" alt="">
            <h1>La página que ha solicitado no se encuentra disponible</h1>
            <div class="boton">
                <button>Volver atras</button>
            </div>
        </div>
    </div>
    

 
    <script src="/src/utils/index.js"></script>
    <script src="/src/utils/otros.js"></script>
</body>
</html>